<div style="text-align: right">
  <p>Data e hora atual: {{dataTempoReal}}</p>
  <p>Data e hora: {{ dataHoraAtual }}</p>
  <p><button (click)="atualizarDataHora()">Atualizar data</button></p>
</div>
<p>
  <button (click)="downloadCSV()" type="button" class="btn btn-outline-primary">
    Download CSV
    <i class="bi-file-earmark-excel"></i>
  </button>
</p>
<h2>Lista de lançamentos</h2>
<table class="table caption-top">
    <thead>
      <tr class="table-primary">
        <th scope="col">ID</th>
        <th scope="col">Data</th>
        <th scope="col">Hora</th>
        <th scope="col">Tipo</th>
        <th scope="col">Localização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lancamento of lancamentos">
        <th scope="row"> {{lancamento.id}}</th>
        <td>{{ lancamento.data | date:'dd/MM/yyyy' }}</td>
        <td>{{lancamento.data | hora}}</td>
        <td>{{lancamento.tipo | tipo}}</td>
        <td>
          <a [href]="urlLocalizacao(lancamento.localizacao)"
          target="_blank">
            {{lancamento.localizacao}}
          </a>
         </td>
      </tr>
    </tbody>
  </table>